/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

//Copied from Canvas
<head>
    <link rel="stylesheet" type="text/css" href="../css/site.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="js/lab.js" DEFER></script>
    </link>
</head>

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.center {
  text-align: center;
}

/* Thank you to ChatGPT for this code. To explain: the nth-child pseudoclass calls on specific elements inside of things, such as lists or divs. These specific nth-children are calling upon the odd and even elements of the p class.*/
/*Apply different alignment styles for alternating text elements*/

.text:nth-child(odd) {
  align-self: left; 
  background-color: lightblue;
  margin-right: auto;
}

.text:nth-child(even) {
  align-self: right;
  background-color: rgb(255, 255, 188);
  margin-left: auto;
}