/* Here we can set styles for this lab page that we don't want to effect others pages */
/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */


h1 {
  font-size: 100px;
}


body {
  font-size: 50px;
  background-image: url("https://static.wikia.nocookie.net/vsbattles/images/0/09/Kirby_dance.gif/revision/latest/scale-to-width-down/300?cb=20161102030148");
  background-size: 150px, auto;
}

mark {
  background-color: indianred;
}

  p.b {
    font-family: 'Comic Sans', cursive;
  }

  .center {
    text-align: center;
  }